.music-play-control-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  .song-info {
    flex: 1;
    height: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    .song-pic {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      background-color: blue;
    }
    .song-title {
      flex: 1;
      height: 40px;
      margin-left: 10px;
      .song-name {
        font-size: 12px;
      }
      .song-control {
        display: flex;
        .song-love {
          height: 15px;
          width: 15px;

          & > img {
            height: 100%;
            width: 100%;
          }
        }
        .song-comments {
          height: 15px;
          width: 15px;
          & > img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .song-play-control {
    flex: 1;
    height: 100%;
    background-color: burlywood;
  }
  .song-other-control {
    flex: 1;

    height: 100%;
    background-color: chartreuse;
  }
}
