.mod-section {
  .section-content {
    height: 400px;
    background: green;
    // height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    .section-title {
      display: block;
      height: 45px;
      line-height: 45px;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }
    .section-nav-bar {
      width: 100%;
    }
    .section-carousel {
      width: 100%;
      flex: 1;
    }
  }
  .seciton-slide {
    .slide_action--left,
    .slide_action__btn--left {
      left: 0;
    }
    .slide_action {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }
  }
}
