.banner-card {
  display: flex;
  .banner-link {
    position: relative;
    margin: 0 auto;
  }
}
.carousel-item{
  height: 100%;
  width: 100%;
}
.banner-carousel {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.banner-card {
  height: 100%;
  width: 100%;
  .banner-link {
    .banner-pic {
      width: 100%;
      height: 150px;
    }
  }
}
